.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
.App{
  margin: 40px 40px;

}
li{
  list-style-type: none;
}